/*
COLORS:

Light green: #7ed56f
Medium green: #55c57a
Dark green: #28b485

*/


$natours-color-primary-light: #55c57a;
$natours-color-primary-dark: #28b485;
$natours-color-primary: #7ed56f;

$natours-color-secondary-light: #ffb900;
$natours-color-secondary-dark: #ff7730;
$natours-color-secondary:#ff7730;

$natours-color-tertiary-light: #2998ff;
$natours-color-tertiary-dark: #5643fa;
$natours-color-tertiary:#5643fa;

$natours-color-gray-dark: #777;
$natours-color-gray-dark-2: #999;
$natours-color-gray-dark-3: #333;
$natours-color-white: #ffffff;
$natours-color-black: #000000;
$natours-color-gray-light-1: #f7f7f7;
$natours-color-gray-light-2: #eee;

//FONT
$natours-default-font-size: 1.6rem;



//GRID
$natours-grid-width: 114rem;
$natours-gutter-vertical: 8rem;
$natours-gutter-vertical-small: 6rem;
$natours-gutter-horizontal: 6rem;

